# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
build/
dist/

# Virtualenvs
venv/
.venv/
env/

# uv
.python-version

# Jupyter
.ipynb_checkpoints/

# Dados gerados pelo pipeline
data/
reports/

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
